{% extends 'base_layout.html' %}

{% block content %}

<h1>order form</h1>
<div id="vue-prepare">
    <div class="order">
        
        <form v-if="business_open" class="site-form" action="{% url 'food:order' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Order">
        </form>

        <div v-else>
            business close now
        </div>

    </div>
</div>


{% load static from staticfiles %}
<script src="{% static 'app.js' %}"></script>

{% endblock %}