{% extends 'base_layout.html' %}

{% block content %}

<h1>order form</h1>
<div id="vue-prepare">
    <div class="order">
        <template v-if="business_open">
            <form class="site-form" action="{% url 'food:order' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Order">
            </form>
        </template>
        
        <template v-else-if="business_open===false">
            business close now
        </template>

    </div>
</div>


{% load static from staticfiles %}
<script src="{% static 'app.js' %}"></script>

{% endblock %}